# Ignore node_modules
node_modules/

# Ignore build outputs
build/
dist/

# Ignore local songs
serendipity/backend/public/LocalSongs/

# Ignore environment variables
.env

# Ignore logs
logs/
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore credentials and sensitive files
credentials.json
