.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.song-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.player-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.placeholder {
  font-size: 1.5em;
  color: #888;
}
